<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registraion</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/register" method="post">
        {% csrf_token %}
        <p>First name: <input type="text" name="fname" id=""></p>
        <p>Last name: <input type="text" name="lname" id=""></p>
        <p>Email: <input type="text" name="email" id=""></p>
        <p>PW: <input type="text" name="pw" id=""></p>
        <p>Confirm PW: <input type="text" name="cpw" id=""></p>
        <p><input type="submit" value="Register"></p>
    
    
    </form>

    



    <h1>Login</h1>
    <form action="/login" method="post">
            {% csrf_token %}
        <p>Email: <input type="text" name="email" id=""></p>
        <p>PW: <input type="text" name="pw" id=""></p>
        <p><input type="submit" value="Login"></p>

    </form>
</body>
</html>